.card {
    display: flex;
    flex-direction: column;
    list-style: none;
}


.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
}

.card__description {
    display: flex;
    background-color: white;
    color: black;
    max-width: 282px;
    padding-left: 21px;
    padding-right: 21px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    
}

.card__like-button {
    background: transparent url(../images/like-inactive.svg) center;
    width: 21px;
    height: 18px;
    border: none;
    cursor: pointer;
}

.card__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width:320px) {
    .card {
        grid-template-columns: 1fr;
    }


}