.page {
    font-family: inter, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media screen and (max-width:480px) {

    .page__section {
        width: 100%;
        position: relative;
        margin: 0 auto;
        flex-wrap: wrap;
        align-items: center;
    }

}

    

